

/*seccion .navbar*/


.navbar.navbar-default{
    background-color: #141414;
    margin: -1px;
    border-color: #161616;
    
}
#nav-collapse2 {
    position: absolute; /* Asegúrate de que el formulario esté en posición absoluta */
    background-color: #161616;
    margin-right: 10px;
    margin-top: 0px; /* Ajusta si es necesario */
    left: -20px; /* Mueve el formulario hacia la izquierda */
}
* {
    color: rgb(0, 0, 0); 
}
button.btn.btn-success {    
    background-color: #86c486; /* Cambia el color a un tono específico, por ejemplo, naranja */
    
    border-color: #4d7a4d; /* Cambia el color del borde del botón si aplica */
}

.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }

.navbar .navbar-collapse { position: relative; overflow: hidden !important; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px;
border-color: #1c110b;
}
.btn.btn-default.btn-outline.btn-circle.collapsed { background-color:#86c486;}


#navbar-collapse-2 {
    padding-left: 20px;
    padding-right: 20px;
}


.btn.btn-outline { background-color:#bb6c3e;
border-color: #1c110b;
color: rgb(255, 255, 255);}

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: #d1978f;
    border-color: #1c110b;
    color: rgb(0, 0, 0);
}


.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px,-50px);
}
.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
}


@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float:inline-start }
    
    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }
    
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px,0px);
    }
}
/*seccion btn flotantes*/
body{
    background-color: #fffeec;
    min-height: 100vh; /* Ocupa toda la altura del viewport */
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.text-center{
    text-align: center;
    font-weight:normal;
}
.social_media_div{
  position:fixed;
    left:-30px;
    top: 130px;
}
.social_media_div li{
    list-style: none;
    margin: 15px 0px;
}
.social_media_div li a i{
    text-decoration: none;
    padding: 18px 21px;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    font-weight: bold;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}

.facebook-icon{
    background-color: #5DADE2;
    border: 1px solid #5DADE2;
    box-shadow: 0px 2px 4px 4px #ccd9e2;
}

.googleplus-icon{
    background-color: #EC7063;
    border: 1px solid #EC7063;
    box-shadow: 0px 2px 4px 4px #e2d1cf;
    font-size: 16px !important;
    padding: 18px 17px !important;
}

.linkedin-icon{
    background-color: #82c5f3;
    border: 1px solid #82c5f3;
    box-shadow: 0px 2px 4px 4px #c9d7e0;
}

.twitter-icon{
    background-color: #AED6F1;
    border: 1px solid #AED6F1;
    box-shadow: 0px 2px 4px 4px #ccd9e2;
}

.instagram-icon{
    background-color: #A569BD;
    border: 1px solid #A569BD;
    box-shadow: 0px 2px 4px 4px #ddcfe2;
}

.social_media_div li a:hover i{
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}

.hero {
    background: linear-gradient(135deg, #6e48aa 0%, #9d50bb 100%);
    color: white;
    padding: 80px 20px;
    /*display: flex;*/
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 80vh; /* Altura mínima */
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), /* Degradado negro al 60% de opacidad */
        url('/imagenes/Recurso_6.jpeg'); /* Ruta de tu imagen */
        background-size: cover; /* Cubre todo el espacio sin deformarse */
        background-position: center; /* Centra la imagen */
        color: white; /* Texto en blanco (asegúrate de que contraste bien) */
    
        
}

.hero-content {
    padding-left: 15%;
    padding-right: 15%;
}

.hero h1 {
    font-size: 6rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 3rem;
    margin-bottom: 30px;
    margin-top: 20px;
    opacity: 0.9;
}

.cta-button {
    display: inline-block;
    padding: 12px 30px;
    background: #d4a9a3;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: transform 0.3s, background 0.3s;
}

.cta-button:hover {
    background: #d1978f;
    transform: translateY(-3px);
}

.hero-image img {
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
}

.container p {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #161616;
}



/* Responsive para móviles */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .hero-image {
        margin-top: 40px;
    }
    .img-alartelogo1 {
        width: 100%;
        height: 100%;
    }
}
.blockquote-footer {
    display: block;
    font-size: 80%;
    color: #6c757d; }
    .blockquote-footer::before {
      content: "\2014\00A0"; }

footer{
display: block; }

.blockquote-footer {
    display: block;
    font-size: 80%;
    color: #6c757d; }

.blockquote-footer::before {
    content: "\2014\00A0"; }

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125); }
    .card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px); }
.card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0; }
.card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0; } 
.modal-dialog-scrollable .modal-footer {
    -ms-flex-negative: 0;
    flex-shrink: 0; }
.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem; }
    .modal-footer > :not(:first-child) {
        margin-left: .25rem; }
    .modal-footer > :not(:last-child) {
        margin-right: .25rem; }
        .ftco-footer {
  font-size: 16px;
  background: #333333;
  padding: 7em 0;
  z-index: 0; }
  .ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em; }
  .ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase; }
  .ftco-footer .ftco-footer-widget ul li {
    font-weight: 500; }
    .ftco-footer .ftco-footer-widget ul li a {
      color: rgba(255, 255, 255, 0.7); }
      .ftco-footer .ftco-footer-widget ul li a span {
        color: #fff; }
      .ftco-footer .ftco-footer-widget ul li a:hover {
        color: #bf925b; }
  .ftco-footer .ftco-footer-widget .btn-primary {
    border: 2px solid #fff !important; }
    .ftco-footer .ftco-footer-widget .btn-primary:hover {
      background: #fff;
      border: 2px solid #fff !important; }
  .ftco-footer p {
    color: rgba(255, 255, 255, 0.7); }
  .ftco-footer a {
    color: rgba(255, 255, 255, 0.7); }
    .ftco-footer a:hover {
      color: #fff; }
  .ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #000000; }

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; }
  .ftco-footer-social li a {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative; }
    .ftco-footer-social li a span {
      position: absolute;
      font-size: 26px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }


.footer-small-nav > li {
  display: inline-block; }
  .footer-small-nav > li a {
    margin: 0 10px 10px 0; }
    .footer-small-nav > li a:hover, .footer-small-nav > li a:focus {
      color: #bf925b; }