 /*seccion .navbar*/
.navbar.navbar-default{
    background-color: #9cba9c;
    
}
#nav-collapse2{
    background-color: #9cba9c;
}
* {
    color: white !important; 
}
button.btn.btn-success {    
    background-color: #86c486; /* Cambia el color a un tono específico, por ejemplo, naranja */
    
    border-color: #4d7a4d; /* Cambia el color del borde del botón si aplica */
}

.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }

.navbar .navbar-collapse { position: relative; overflow: hidden !important; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px;
border-color: #1c110b;
}
.btn.btn-default.btn-outline.btn-circle.collapsed { background-color:#bb6c3e ; }


.btn.btn-outline { background-color:#bb6c3e;
border-color: #1c110b;
color: rgb(255, 255, 255);}

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: #7b5b48;
    border-color: #1c110b;
    color: rgb(255, 255, 255);
}


.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px,-50px);
}
.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
}


@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
    
    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }
    
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px,0px);
    }
}
/*seccion btn flotantes*/
body{
    background-color: aliceblue;
    height: 800px;
}
.text-center{
    text-align: center;
    font-weight:normal;
}
.social_media_div{
  position:fixed;
    left:-30px;
    top: 130px;
}
.social_media_div li{
    list-style: none;
    margin: 15px 0px;
}
.social_media_div li a i{
    text-decoration: none;
    padding: 18px 21px;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    font-weight: bold;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}

.facebook-icon{
    background-color: #5DADE2;
    border: 1px solid #5DADE2;
    box-shadow: 0px 2px 4px 4px #ccd9e2;
}

.googleplus-icon{
    background-color: #EC7063;
    border: 1px solid #EC7063;
    box-shadow: 0px 2px 4px 4px #e2d1cf;
    font-size: 16px !important;
    padding: 18px 17px !important;
}

.linkedin-icon{
    background-color: #82c5f3;
    border: 1px solid #82c5f3;
    box-shadow: 0px 2px 4px 4px #c9d7e0;
}

.twitter-icon{
    background-color: #AED6F1;
    border: 1px solid #AED6F1;
    box-shadow: 0px 2px 4px 4px #ccd9e2;
}

.instagram-icon{
    background-color: #A569BD;
    border: 1px solid #A569BD;
    box-shadow: 0px 2px 4px 4px #ddcfe2;
}

.social_media_div li a:hover i{
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}

.hero {
    background: linear-gradient(135deg, #6e48aa 0%, #9d50bb 100%);
    color: white;
    padding: 80px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80vh; /* Altura mínima */
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), /* Degradado negro al 60% de opacidad */
        url('/imagenes/Recurso_6.jpeg'); /* Ruta de tu imagen */
        background-size: cover; /* Cubre todo el espacio sin deformarse */
        background-position: center; /* Centra la imagen */
        color: white; /* Texto en blanco (asegúrate de que contraste bien) */
}

.hero-content {
    padding-left: 15%;
    padding-right: 15%;
    
}

.hero h1 {
    font-size: 6rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 3rem;
    margin-bottom: 30px;
    opacity: 0.9;
}

.cta-button {
    display: inline-block;
    padding: 12px 30px;
    background: #d4a9a3;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: transform 0.3s, background 0.3s;
}

.cta-button:hover {
    background: #d1978f;
    transform: translateY(-3px);
}

.hero-image img {
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
}

/* Responsive para móviles */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .hero-image {
        margin-top: 40px;
    }
}